* {
  /* * selected all elements */
  margin: 0;
  padding: 0;
}
body {
  color: #ffffff;
  background-color: #1d1c1c;
  height: 200vh;
  --primary-color: #ff3030;
}
.navi-line {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.8rem;
  transition-duration: 0.3s;
}
.navi-link {
  color: white;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition-duration: 0.7s;
  /* transition: all 0.7s ease-in-out; */
}
.navi-link:hover {
  color: var(--primary-color);
}
.hero-section {
  /* background-image: url("hero.jpg"); */
  /* height: calc(100vh - 5rem); */

  height: 90vh;
  display: flex;

  /* background: rgba(0, 0, 0, 0.7); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  display: flex;
  justify-content: center;
  font-family: "Alex Brush";
  font-size: 5rem;
  text-align: center;
  line-height: 5rem;
}
p {
  /* margin-top: 1rem; */
  font-family: "Courier New", Courier, monospace;
  /* color: #ddd; */
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5rem;
}
.cta-button {
  text-decoration: none;
  color: #ddd;
  margin-top: 3rem;
  padding: 1.3rem 2rem 1.3rem 2rem; /*top right bottom left*/
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  font-size: 1rem;
  line-height: 1rem;
  font-family: Arial;

  transition-duration: 0.7s;
  /*or transition: all 0.2s ease-in-out) */
}
.cta-button:hover {
  background: rgba(0, 0, 0, 0);
  /* or background-color: transparent; */
  /* transition-duration: 0.7s; */
  color: var(--primary-color);
}

@media only screen and (min-width: 600px) {
  p {
    font-size: 1.5rem;
  }
  .navi-line {
    gap: 4rem;
    font-size: 1rem;
  }
  .hero-text {
    font-size: 6.5rem;
    line-height: 6rem;
  }
}
@media only screen and (min-width: 1000px) {
  .hero-text {
    font-size: 8rem;
    line-height: 8rem;
  }
}
