* {
  margin: 0;
  padding: 0;
}
.hero-image {
  background-image: url("hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1, 
h2 {
  height: 100px;
  /* for less space betwenn "Pizzeria" and "Mamma Mia" */
}
.hero-section {
  height: 100vh;
  display: grid;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
}

.hero-text {
  color: white;
  display: flex;
  justify-content: center;
  font-family: "Alex Brush";
  font-size: 100px;
  text-align: center;
}
h3 {
  margin-top: 25px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 20px;
  text-align: center;
}
.cta-button {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid rgb(236, 10, 10);
  background-color: rgb(236, 10, 10);
  font-size: 20px;
}
.cta-button:hover {
  background: rgba(0, 0, 0, 0);
  transition-duration: 0.7s;
}

.cta-button:hover .cta-link {
  transition-duration: 0.7s;
  color: rgb(236, 10, 10);

  font-family: Arial;
}
.cta-link:not(:hover) {
  color: white;
  font-family: Arial;
}

@media only screen and (max-width: 540px) {
  .hero-text {
    font-size: 60px;
  }
  h1,
  h2 {
    height: 60px;
  }
  @media only screen and (max-width: 315px) {
  h3 {
    font-size: 15px;
    margin-top: 100px;
  }
}
